// src/styles/global.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  color: #333;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}
