.blogPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(black, transparent),
    url("../../public/images/blog-background.webp") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  padding: 50px 10px;
  padding-top: 150px;
  text-align: center;
  min-height: 90vh;

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }
}

.blogContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  text-indent: 20px;
  font-weight: bold;
  font-size: 1.1rem;
}

.blogTitle {
  margin-bottom: 20px;
  color: #ccc;
  font-size: 2rem;
}

.blogList {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.centeredMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 1.5rem;
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;

  button {
    padding: 8px 12px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  span {
    font-size: 1rem;
    color: #ccc;
  }
}