// src/pages/Contact.module.scss

$background-color: rgba(0, 0, 0, 0.8);
$text-color: #fff;
$button-color: #28a745;
$button-hover-color: #218838;
$input-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  padding: 20px;
  box-sizing: border-box;

  background: linear-gradient(to bottom, $background-color, $background-color),
    url("../../public/images/contact-us.jpg") no-repeat center/cover;

  h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
  }

  .formGroup {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 1rem;
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      box-shadow: $input-shadow;
      font-size: 1rem;
    }
  }

  .error {
    color: red;
    text-align: center;
  }

  button {
    padding: 10px 20px;
    background-color: $button-color;
    color: $text-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: $button-hover-color;
    }
  }

  .contactList {
    margin-top: 40px;
    text-align: center;

    h3 {
      margin-bottom: 15px;
      font-size: 2rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 10px 0;
        font-size: 1.2rem;
      }
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    h2 {
      font-size: 2rem;
    }

    .formGroup {
      input {
        padding: 8px;
        font-size: 0.9rem;
      }
    }

    button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }

    .contactList h3 {
      font-size: 1.6rem;
    }

    .contactList li {
      font-size: 1rem;
    }
  }
}
