$background-color: rgba(0, 0, 0, 0.8);
$text-color: white;
$header-color: gold;

.contactsPage {
  background: linear-gradient(black, transparent),
    url("../../public/images/contact-us.webp") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  padding: 60px 20px;
  padding-top: 150px;
  color: $text-color;
  text-align: center;

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 40px;

    h2 {
      font-size: 2rem;
      color: $header-color;
      margin-bottom: 15px;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.5;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      margin-top: 20px;

      li {
        margin: 0 15px;

        a {
          color: $header-color;
          font-size: 2.5rem;
          transition: color 0.3s;

          &:hover {
            color: darken($header-color, 10%);
          }
        }
      }
    }

    .phoneIcon {
      margin-left: 8px;
    }

    .map {
      width: 100%;
      max-width: 600px;
      height: 450px;
      margin: 0 auto;
    }
  }

  @media (max-width: 768px) {
    padding: 20px 10px;
    padding-top: 150px;

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }

    .map {
      height: 300px;
    }

    ul {
      flex-direction: column;
      margin-top: 10px;

      li {
        margin: 10px 0;
      }
    }
  }
}