.banner {
  position: relative;
  height: 500px; /* Adjust the height as needed */
  background: url("../../public/images/top.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 60px; /* Add padding to accommodate the header height */
  color: white; /* Ensure text is readable */
  text-align: center; /* Center text horizontally */
}

.banner-content {
  margin-top: 200px;
}

.banner h1 {
  margin: 0; /* Remove default margin */
  font-size: 2.5rem; /* Adjust font size as needed */
}

.banner p {
  font-size: 1.2rem; /* Adjust font size for the paragraph */
}
