.banner {
  position: relative;
  height: 500px; /* Adjust the height as needed */
  background: url("../../public/images/top.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 60px; /* Add padding to accommodate the header height */
  padding-right: 20px;
  color: white; /* Ensure text is readable */
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
  align-items: center; /* Centers content vertically */
}

.banner-content {
  padding: 20px; /* Add padding for better spacing */
  color: white; /* Change text color for visibility */
  text-align: center; /* Center-aligns text */
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  & h1 {
    font-size: 2.5rem;
  }
}
