.productSection {
  position: relative;
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../../public/images/our-products.webp") no-repeat center center / cover;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); // Overlay for text visibility
    z-index: 1;
  }

  .sectionTitle {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 40px;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #fff; // Ensures readability
      margin-bottom: 10px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); // Enhances visibility
    }

    p {
      font-size: 1.2rem;
      color: #eee;
    }
  }

  .carouselContainer {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .slick-dots {
      bottom: -30px;
      li button::before {
        color: #eee;
      }
    }

    .slick-prev,
    .slick-next {
      z-index: 2;
      font-size: 2rem;
      color: #eee;
    }
  }

  .carouselItem {
    padding: 20px;

    .itemContent {
      position: relative;
      height: 250px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 20px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10px);
      }

      h3 {
        position: relative;
        z-index: 2;
        font-size: 1.5rem;
        color: #fff; // Ensures visibility
        font-weight: bold;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); // Enhances readability
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        z-index: 1;
      }
    }
  }
}
