.contacts {
  position: relative;
  padding: 60px 0;
  background: url("../../public/images/contact-us.webp") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  color: #eee;
  text-align: center;

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
}

.contactInfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  z-index: 1;
}

.contacts-title {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  font-size: 1.5rem;
}

.contactItem {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  z-index: 2;

  h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h3 {
    margin-bottom: 10px;
  }

  p,
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}