/* src/components/Contacts.module.scss */
.contacts {
  position: relative;
  padding: 60px 0;
  background: url("../../public//images/contact-us.jpg");
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
}

.contactInfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  z-index: 1;
}

.contacts-title {
  position: relative;
  z-index: 1;
  color: #ffd700;
  font-size: 1.5rem;
}

.contactItem {
  position: relative;
  flex: 1; /* Flex-grow for items */
  margin: 10px; /* Space between items */
  min-width: 200px; /* Minimum width for items */
  z-index: 2;

  & h2 {
    position: relative;
    color: #ffd700; /* Dark color for headings */
    margin-bottom: 20px; /* Space below heading */
    font-size: 2.5rem;
    z-index: 2;
  }

  & h3 {
    color: #ffd700; /* Slightly lighter for subheadings */
    margin-bottom: 10px; /* Space below subheadings */
  }

  & p {
    color: #ffd700; /* Slightly lighter for subheadings */
  }

  & a {
    color: #ffd700; /* Link color */
    text-decoration: none; /* Remove underline */

    &:hover {
      text-decoration: underline; /* Underline on hover */
    }
  }
}
