.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa; /* Header background color */

  .logo {
    display: flex;
    align-items: center;

    .logoImage {
      height: 150px; /* Increase the height as needed */
      width: auto; /* Maintain aspect ratio */
    }
  }

  .nav {
    display: none; /* Hide on mobile by default */

    @media (min-width: 768px) {
      display: block; /* Show on desktop */
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin: 0 15px; /* Space between links */

          a {
            text-decoration: none;
            color: #333; /* Text color */
            transition: color 0.3s;
            text-transform: uppercase;
            font-size: 1.2rem;
            border: 2px solid transparent;

            &:hover {
              color: #007bff; /* Change color on hover */
              border-bottom: 2px solid #007bff;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .hamburger-menu {
      display: block; /* Show hamburger menu on mobile */
    }
  }
}
