.map {
  position: relative;
  background: url("../../public/images/our-location.webp") no-repeat center
    center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 20px;
  text-align: center;

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #eee;
  }

  .mapContainer {
    max-width: 90%;
    margin: 0 auto;

    iframe {
      width: 100%;
      height: 450px;
      border: none;
    }
  }
}
