@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}