.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.mainContent {
  flex: 1;
  overflow-x: hidden;
  padding-top: 100px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;

  nav {
    ul {
      list-style-type: none;
      display: flex;

      li {
        margin-right: 20px;

        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
}